{% extends 'blog_app/base.html' %}

{% load crispy_forms_tags %} <!--This is for crispy form-->

{% block head_extra %}
{{form.media}}
<!-- Added in AD - 4 --->

{% endblock head_extra %}

{% block content %}

<div class="col-sm-6 offset-3" >
    {{request.user.username}}
    <h1>User {{title}}</h1>
    <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="{{title}}">
    </form>
</div>
</div>
{% endblock content %}